:root{
    --clr-dark: #050929;
    --clr-darkpurple: #5B19B0;
    --clr-lightpurple: #F0D0FF;
    --clr-darkorange: #FFAE50;
    --clr-orange: #843F00;
    --clr-lightorange: #FFF0E9;
    --clr-white: #ffffff;
    --clr-gray: #ece6f7;
    
  
  }


  
  @font-face {
    font-family: font1;
    src: url(Marvel-Bold.ttf);
  }
  
  @font-face {
    font-family: font2;
    src: url(AlegreyaSansSC-Thin.ttf);
  }
  
  @font-face {
    font-family: font3;
    src: url(AlegreyaSansSC-Light.ttf);
  }
  
  @font-face {
    font-family: font4;
    src: url(AlegreyaSansSC-Regular.ttf);
  }

.slogan .colored{
  color: var(--clr-darkpurple);
  font-family: font4;

}  

.slogan {

  
  text-align: left;
  padding: 20px;
  color: white;
  margin-left: 40px;
}

.colored {
  color: rgb(231, 147, 244);
  
}


.uno h1{
  
  font-family: font2;
  margin-left: 100px;
  color: var(--clr-darkpurple);
   
}

.uno h2{
  
  font-family: font2;
  margin-left: 140px;
  color: var(--clr-darkpurple);
   
}


.uno{    
  padding: 1px;  
}



.purpleLink{
  font-family: font4;
  display: inline-block;
  background-color:  var(--clr-darkpurple);
  color: var(--clr-white);
  padding: 24px 44px;
  border: none;
  text-decoration: none;
  margin-left: 200px;
}


.loginButton {
  font-family: font4;
  display: inline-block;
  color:var(--clr-darkpurple);
  border: var(--clr-darkpurple);
  border-color: var(--clr-darkpurple);
  margin-left: 20px;
  border: 4px solid var(--clr-darkpurple) ;
  padding: 20px 40px;



}
  
.dos h1{
  
  font-family: font2;
  margin-left: 100px;
  color: rgb(192, 150, 211);

   
}

.contactos {
    align-content: center;
    height: 500px;
}

.containerContactos {
    background-color: var(--clr-white);
    border-radius: 25px;
    margin-left: 40px;
    padding: 40px;
    width: 50%;
    height: fit-content;
    padding-top: 10px;
}

.redesSociales {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.social {
    width: 30px;
    height: 30px;
}


.contactos{
    align-content: center;
    height: 500px;
  
  }
  
  .containerContactos{
    text-align: center;
    background-color: var(--clr-white);
    border-radius: 25px;
    margin-left: 40px;
    padding: 40px;
    width:50%;
    height: fit-content;
    padding-top: 10px;
  }
  
  .redesSociales{
    display: flex;
    justify-content: center;
    gap: 1em;
  }
  
  .social{
    width: 30px;
    height: 30px;
    
  }