:root{
    --clr-dark: #050929;
    --clr-darkpurple: #5B19B0;
    --clr-lightpurple: #F0D0FF;
    --clr-darkorange: #FFAE50;
    --clr-orange: #843F00;
    --clr-lightorange: #FFF0E9;
    --clr-white: #ffffff;
    --clr-gray: #ece6f7;
    
  
  }

  @font-face {
    font-family: font1;
    src: url(Marvel-Bold.ttf);
  }
  
  @font-face {
    font-family: font2;
    src: url(AlegreyaSansSC-Thin.ttf);
  }
  
  @font-face {
    font-family: font3;
    src: url(AlegreyaSansSC-Light.ttf);
  }
  
  @font-face {
    font-family: font4;
    src: url(AlegreyaSansSC-Regular.ttf);
  }

  
  .tm{
    color: white;
    font-family: font4;
    background-color: #050929;
    padding: 20px;
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 10px;

  }
  
  .botonesMenu{
      display: flex;
      flex-wrap: wrap;
      align-content:flex-start;
      gap: 1em;
      justify-content: center;
      
      padding: 15px;
    
    }
    
  .botonMenu{
      width: 10%;
      
      background-color: var(--clr-darkpurple);
      color: white;

      border-radius: 5px;
      border: solid 5px;
      border-color: var(--clr-lightorange);
    
      padding: 5px;
      padding-left: 50px;
      padding-right: 50px;
    }
  
  .tituloboton{
    font-size: 10px;
  }
  
  
  .combos{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(10%, 1fr));
    height:max-content;
    position: relative;
   
  
  }
  
  .zonacombos{
    grid-row: 1 / 4;
    grid-column: 1/8;
    background-color:var(--clr-gray);   
    border-bottom-right-radius: 30px;
    justify-content: center;
    align-content: center;
    padding: 20px;
   
  
  }
  
  .descripcioncombos{
    grid-row: 1 / 4;
    grid-column: 8/12;
    padding: 32px;
  
    
  
  }
  
  .buttonc{
    
    z-index: 1;
  
    color: var(--clr-white);
    background-color: var(--clr-darkpurple);
    border-radius: 100%;
    width: 80px;
    height: 80px;
    font-size: 40px;
    
    border-color: var(--clr-darkpurple);
  }
  
  
  /*CARRUSEL*/
  .carrusel {
    margin: 2%;
    
  
  }
  
  .slide {
    background-color: var(--clr-white);
    display: none;
    
  
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px, 0px, 5px 0px var(--clr-gray);
   
  }
  
  .combocontenido{
    display: flex;
    align-items:flex-start;
  
   border-radius: 20px;
   overflow: hidden;
   
  }
  
  .comboImage{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    justify-self:left;
  
  }
  
  .comboDescription{
   
   flex: 1;
  }
  
  .slide.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .slide-content {
    text-align: center;
  }
  
  
  
  
  .menu{
    background: linear-gradient(#FFAE50 10%, #24064b 90%);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 30px;
  }
  
  .titulomenu{
    margin: 50px;
  
  }
  .catalogo{
    display: flex;
    flex-wrap: wrap;
    align-content:flex-start;
    gap: 1em;
    justify-content: center;
  
  }
  
  .cartamenu{
    width: 40%;
    background-color: var(--clr-white);
    border-radius: 10px;
    padding: 3px;

    
   
  }
  
  .cartamenu img{
    min-width: 400px;
  }

  .cartamenu img{
    max-width: 400px;
  }
  
  
  .contactos{
    align-content: center;
    height: 500px;
  
  }
  
  .containerContactos{
    background-color: var(--clr-white);
    border-radius: 25px;
    margin-left: 40px;
    padding: 40px;
    width:50%;
    height: fit-content;
    padding-top: 10px;
  }
  
  .redesSociales{
    display: flex;
    justify-content: center;
    gap: 1em;
  }
  
  .social{
    width: 30px;
    height: 30px;
    
  }
  