:root{
    --clr-dark: #050929;
    --clr-darkpurple: #5B19B0;
    --clr-lightpurple: #F0D0FF;
    --clr-darkorange: #FFAE50;
    --clr-orange: #843F00;
    --clr-lightorange: #FFF0E9;
    --clr-white: #ffffff;
    --clr-gray: #ece6f7;
    
  
  }

.slogan{
    height: 200px;
    background-color: var(--clr-dark);
}

.formularioayuda {
   
}
.formularioInfo {
    display: flex;
    justify-content: center;
    gap: 5em;
}


.formulario1 {
    grid-column: 1 / span 1;
}

.formulario2 {
    grid-column: 2 / span 1;
}




.button{
    margin: 50px;
    padding: 15px 60px;

    background-color: var(--clr-darkpurple);
    font-family: font1;
    font-size: 20px;
    color: var(--clr-white);
    border: none;
    border-radius: 15px;
    
  }

.contactos {
    align-content: center;
    height: 500px;
}

.containerContactos {
    background-color: var(--clr-white);
    border-radius: 25px;
    margin-left: 40px;
    padding: 40px;
    width: 50%;
    height: fit-content;
    padding-top: 10px;
}

.redesSociales {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.social {
    width: 30px;
    height: 30px;
}










.contactos{
    align-content: center;
    height: 500px;
  
  }
  
  .containerContactos{
    background-color: var(--clr-white);
    border-radius: 25px;
    margin-left: 40px;
    padding: 40px;
    width:50%;
    height: fit-content;
    padding-top: 10px;
  }
  
  .redesSociales{
    display: flex;
    justify-content: center;
    gap: 1em;
  }
  
  .social{
    width: 30px;
    height: 30px;
    
  }