.container {
    background-color: #2d0461; /* Color morado de fondo */
    padding: 2rem;
    text-align: center;
  }

  @font-face {
    font-family: font1;
    src: url(Marvel-Bold.ttf);
  }
  
  @font-face {
    font-family: font2;
    src: url(AlegreyaSansSC-Thin.ttf);
  }
  
  @font-face {
    font-family: font3;
    src: url(AlegreyaSansSC-Light.ttf);
  }
  
  @font-face {
    font-family: font4;
    src: url(AlegreyaSansSC-Regular.ttf);
  }
  

  @font-face {
    font-family: 'Marvel';
    src: url(../assets/Marvel-Bold.ttf);
  }
  
  .title {
    font-family: 'Marvel', sans-serif;
    color: white; /* Letras blancas */
    font-size: 6.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    

  }
  
  .card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    text-align: center;
    width: 250px;
    margin: 1rem;
    display: inline-block;
  }
  
  .cardImage {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 0; /* Elimina el borde redondeado */
    margin-bottom: 1rem;
  }
  
  .cardTitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .cardOrders {
    color: #888;
    font-size: 0.9rem;
  }

  .pagcontainer{
    background-color: #2d0461;
    justify-content: center;

  }

  .comentarioContainer{
    background-color: white;
    font-size: auto;
    width: 40%;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 60px;

  }

  .containerC{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 20px;
    justify-content: center;

  }
  

  .comentarioinfo h3 {
    font-family: font3 ;

  }


  .comentarioinfo{
  
    border: solid 5px #2d0461;
    border-radius: 8px;
    padding: 10px;


  }
   