:root{
  --clr-dark: #050929;
  --clr-darkpurple: #5B19B0;
  --clr-lightpurple: #F0D0FF;
  --clr-darkorange: #FFAE50;
  --clr-orange: #843F00;
  --clr-lightorange: #FFF0E9;
  --clr-white: #ffffff;
  --clr-gray: #ece6f7;
  

}


@font-face {
  font-family: font1;
  src: url(Marvel-Bold.ttf);
}

@font-face {
  font-family: font2;
  src: url(AlegreyaSansSC-Thin.ttf);
}

@font-face {
  font-family: font3;
  src: url(AlegreyaSansSC-Light.ttf);
}

@font-face {
  font-family: font4;
  src: url(AlegreyaSansSC-Regular.ttf);
}

.colored {
  color: #5B19AF;
}

.pageContainer .botonesMenu {
  text-align: center;
}

.botonMenu h1{
  text-align: center;
  justify-content: center;
}

.botonesMenu{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 1em;
    justify-content: center;
    padding: 15px;
    font-family: font1;
  }
  
.botonMenu{
    
    background-color: var(--clr-darkorange);
    border-radius: 5px;
    border: solid 5px;
    border-color: var(--clr-lightorange);
  
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
  }

.tituloboton h1 {
  text-align: center;
}

.tituloboton{
  font-size: 20px;
  text-align: center;
  justify-content: center;
}

.botonMenu h1{
  
  text-align: center;
  justify-content: center;
}


.promos {
  
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(10%, 1fr));
  height:max-content;
  position: relative; 
}


.zonapromos{
  grid-row: 1 / 4;
  grid-column: 1/8;    
  border-bottom-right-radius: 30px;
  justify-content: center;
  align-content: center;
  padding: 5px;
  margin-left: 200px;
}

.descripcioncombos{
  justify-content: center;
}

.buttonc1{
  
  z-index: 1;
  position: relative;
  top: 39%;
  right: 582%;
  
  color: var(--clr-white);
  background-color: var(--clr-darkpurple);
  border-radius: 100%;
  width: 80px;
  height: 80px;
  font-size: 40px;
  
  border-color: var(--clr-darkpurple);
}

.buttonc2{
  
  z-index: 1;
  position: relative;
  top: 39%;
  right: 160%;
  color: var(--clr-white);
  background-color: var(--clr-darkpurple);
  border-radius: 100%;
  width: 80px;
  height: 80px;
  font-size: 40px;
  
  border-color: var(--clr-darkpurple);
}




/*CARRUSEL*/
.carrusel {
  margin: 2%;
  

}

.menut {
  font-family: font4;
  color: white;
}



.slide {
  background-color: var(--clr-white);
  display: none;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px, 0px, 5px 0px var(--clr-gray);
 
}

.combocontenido{
  display: flex;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
 
}

.comboImage{
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  justify-self:left;
  
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  overflow: hidden;
  margin-left: auto;
 
}

.comboDescription {
  text-align: center;
}

.comboDescription{
  padding: 2rem;
  align-items: center;
  flex: 1;
}

.button{
  background-color: var(--clr-lightpurple);
  border: none;
  border-radius: 15px;
  color: #5B19AF ;
  font-size: 1.25rem;
  font-family: font1;
  text-decoration: none;
  transition: color 0.3s;
  padding: 10px;  
}

.slide.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slide-content {
  text-align: center;
}

.menu h1{
  text-align: center;

}


.menu{
  background: linear-gradient(#FFAE50 10%, #24064b 90%);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 30px;
  font-family: font2;
}



.promo h1{
  text-align: center;

}


.promo{
  
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 30px;
  font-family: font2;
}


.titulomenu{
  margin: 50px;  
}

.catalogo{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  margin-top: 30px;

}

.cartamenu{
  justify-content: center;

  width: 50;
  /*height: fit-content;*/
  background-color: var(--clr-white);
  border-radius: 10px;
  padding: 3px;
 
}

.cartamenu img{
  width: 450px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  
}



.contactos{
  align-content: center;
  height: 500px;

}

.containerContactos{
  text-align: center;
  background-color: var(--clr-white);
  border-radius: 25px;
  margin-left: 40px;
  padding: 40px;
  width:50%;
  height: fit-content;
  padding-top: 10px;
  justify-content: center;

}

.redesSociales{
  display: flex;
  justify-content: center;
  gap: 1em;
}

.social{
  width: 30px;
  height: 30px;
  
}