body {
  font-family: "Arial", sans-serif;
}

.header {
    display: block;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    background-color: #ffffff;
    font-family:  sans-serif;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }

  .mlogo {
    width: 2%;
    height: 2%;
    margin-left: 10px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-left: auto;
  }

  .social {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    align-items: end;
    
  }
  

  
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  
  .nav-link {
    color: #000000d8;
    font-size: 1.25rem;
    text-decoration: none;
    transition: color 0.3s;
    font-family: "Marvel", sans-serif;
    padding: 3px;
  }
  
  .nav-link:hover {
    color: #000000;
  }
  
  .nav-link.active {
    color: #000000;
  }

  .line {
    border: none;
    border-top: 3px solid rgb(126, 0, 189);
    margin: 10px 0;
  }

  .purpleLink {
    background-color: #e6d6ff; /* Light purple background color */
    border-radius: 10px; /* Rounded margins */
    padding: 0.5rem 1rem; /* Adjust padding as needed */
  }