<<<<<<< HEAD


.mlogo {
  position: relative;
  
  width: 12px;
  height: 32px;
  margin-left: 20px;
  align-self: flex-end;

}
=======
>>>>>>> 4e166552e8fa91b3969ca7918f9ef4e6913d76bd
:root{
  --clr-dark: #050929;
  --clr-darkpurple: #5B19B0;
  --clr-lightpurple: #F0D0FF;
  --clr-darkorange: #FFAE50;
  --clr-lightorange: #FFF0E9;
  --clr-white: #ffffff;
  --clr-gray: #c7c7c7;
  

}


@font-face {
  font-family: font1;
<<<<<<< HEAD
  src: url(../assets/Marvel-Bold.ttf);
=======
  src: url(Marvel-Bold.ttf);
>>>>>>> 4e166552e8fa91b3969ca7918f9ef4e6913d76bd
}

.tlogo{
  width: 70%;
<<<<<<< HEAD
  height: 70%;
  position: relative;
  
=======
  height: 70;
  position: relative;
  left: 1%;
 
>>>>>>> 4e166552e8fa91b3969ca7918f9ef4e6913d76bd
}

.header {
    
    display: block;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
   
    background-color: var(--clr-white);
   
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
  }
  
  .logo {
<<<<<<< HEAD
    justify-content: center;
    width: 80px;
    position: relative;
    margin-left: 10px;
    
    
  }


=======
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }

  .mlogo {
    position: relative;
    top: 30px;
    width: 12px;
    height: 32px;
    margin-left: 20px;

  }
>>>>>>> 4e166552e8fa91b3969ca7918f9ef4e6913d76bd

  .container {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-left: auto;
<<<<<<< HEAD
    margin-top: auto;
    margin-right: 10px;
=======
>>>>>>> 4e166552e8fa91b3969ca7918f9ef4e6913d76bd
  }

  .social {
    width: 20px;
    height: 20px;
<<<<<<< HEAD
    margin-right: 10px;
=======
    margin-left: 10px;
>>>>>>> 4e166552e8fa91b3969ca7918f9ef4e6913d76bd
    align-items: end;
    
  }
  

  
  .nav {
    display: flex;
<<<<<<< HEAD
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
=======
    justify-content: space-evenly;
  
    gap: 1.5rem;
    width: 100%;
>>>>>>> 4e166552e8fa91b3969ca7918f9ef4e6913d76bd
    margin: 10px;
    padding: auto;
  }
  
  .nav-link {
    color: var(--clr-dark) ;
<<<<<<< HEAD
    font-size: 1.3rem;
    font-family: font1;
    text-decoration: none;
    transition: color 0.3s;
    padding: 3px;
    margin: 10px 0px;

  }

  .nav-link-access {
    color: var(--clr-dark) ;
    font-size: 1.3rem;
=======
    font-size: 1.25rem;
>>>>>>> 4e166552e8fa91b3969ca7918f9ef4e6913d76bd
    font-family: font1;
    text-decoration: none;
    transition: color 0.3s;
    padding: 3px;

  }
  
  .nav-link:hover {
<<<<<<< HEAD
    color:var(--clr-lightpurple);
    
=======
    color:var(--clr-darkpurple);
>>>>>>> 4e166552e8fa91b3969ca7918f9ef4e6913d76bd
  }
  
  .nav-link.active {
    color:var(--clr-white);
  }

  .line {
    border: none;
    border-top: 3px solid var(--clr-darkpurple);
    margin: 10px 0;
  }

  .line2 {

    border-top: 5px solid var(--clr-gray);
  }

  .purpleLink {
    background-color: var(--clr-lightpurple); 
    border-radius: 10px;
    padding: 0.5rem 3rem; 
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }

  .perfil{
<<<<<<< HEAD
    width: 20px;
    border-radius: 50%;
    padding: 0px;
    margin: 0px 20px;
  }


  .adminNav {
    background-color: #420f84; 
  }
  
  .adminNav .nav-link {
    color: #fff; 
  }

  .adminNav .nav-link:hover {
    color: #f0f0f0; 
  }
  
  .adminLink {
    color: #fff; 
  }

  .adminLogoContainer{
    background-color: #420f84;
=======
    width: 30px;
    height: 30px;
    border-radius: 50%;

>>>>>>> 4e166552e8fa91b3969ca7918f9ef4e6913d76bd
  }