:root{
  --clr-dark: #050929;
  --clr-darkpurple: #5B19B0;
  --clr-lightpurple: #F0D0FF;
  --clr-darkorange: #FFAE50;
  --clr-lightorange: #FFF0E9;
  --clr-white: #ffffff;
  --clr-gray: #c7c7c7;
  

}


@font-face {
  font-family: font1;
  src: url(Marvel-Bold.ttf);
}

.tlogo{
  width: 70%;
  height: 70;
  position: relative;
  left: 1%;
 
}

.header {
    
    display: block;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
   
    background-color: var(--clr-white);
   
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 96px; 
    margin-right: 10px;
  }

  .mlogo {
    position: relative;
    top: 30px;
    width: 12px;
    height: 32px;
    margin-left: 20px;

  }

  .container {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-left: auto;
  }

  .social {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    align-items: end;
    
  }
  

  
  .nav {
    display: flex;
    justify-content: space-evenly;
  
    gap: 1.5rem;
    width: 100%;
    margin: 10px;
    padding: auto;
  }
  
  .nav-link {
    color: var(--clr-dark) ;
    font-size: 1.25rem;
    font-family: font1;
    text-decoration: none;
    transition: color 0.3s;
    padding: 3px;

  }

  .nav-link-access {
    color: var(--clr-dark) ;
    font-size: 1.3rem;
    font-family: font1;
    text-decoration: none;
    transition: color 0.3s;
    padding: 3px;

  }
  
  .nav-link:hover {
    color:var(--clr-darkpurple);
  }
  
  .nav-link.active {
    color:var(--clr-white);
  }

  .line {
    border: none;
    border-top: 3px solid var(--clr-darkpurple);
    margin: 10px 0;
  }

  .line2 {

    border-top: 5px solid var(--clr-gray);
  }

  .purpleLink {
    background-color: var(--clr-lightpurple); 
    border-radius: 10px;
    padding: 0.5rem 3rem; 
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }

  .perfil{
    width: 30px;
    height: 30px;
    border-radius: 50%;

  }